<style type="text/css" class="cp-pen-styles">/* make sidebar nav vertical */
.navbar-nav li {width:100%}
.nav a {color:white}
.nav a:hover {color:black}
.heading-menu{background:black;color:black}
a{text-decoration:none;} 
@media (min-width: 768px){
  .affix-content .container {
    width: 700px;
  }   

  html,body{
    background-color: #424242;
    height: 100%;
    font-size:17px;
    overflow: hidden;
  }
    .affix-content .container .page-header{
    margin-top: 0;
    background-color: #424242;

  }
  .sidebar-nav{
        position:fixed; 
        width:25%;
  }
  .affix-sidebar{
    padding-right:0; 
    font-size:small;
    padding-left: 0;
  }  
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;    
  } 

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    border-radius:0; 
    margin-bottom:0; 
    border:0;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }  
}

  .affix-row{
    overflow: hidden;
  }

  .affix-content{
    overflow: auto;
  }

  .affix-content .container {
    width: 95%;
    background-color: none;
  }
.container {
  background-color: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0px; 
}
  .affix-content .container .page-header{
    margin-top: 0;
  }
  .affix-content{
    padding-right: 30px;
    padding-left: 30px;
  }  
  .affix-title{
    border-bottom: 1px solid #ecf0f1; 
    padding-bottom:10px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-collapse{
    padding: 0;
  }
  .sidebar-nav .navbar li a:hover {
    background-color: #428bca;
    color: white;
  }
  .sidebar-nav .navbar li a > .caret {
    margin-top: 8px;
  }  
}
.affix-content {
    padding: 0px;
}
.heading-menu > li a {background:black;color:black}

/*menu1*/
#menu1, #menu2, #menu3{
  background-color: #3E3E40;
  min-width: 250px;
  position: fixed;
  top: 0;
  z-index: 8000;
  display: none;
  border-radius: 2px 2px 2px 2px;
  text-align: left;
  font-size: 12px; /* Estilos de fuente */
  font-family: 'Trebuchet MS', Trebuchet, Verdana, sans-serif;
  font-weight: normal;
}
#menu1 ul, #menu2 ul, #menu3 ul{
  list-style: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-color: #6D1F6F;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;


}
#menu1 ul li, #menu2 ul li, #menu3 ul li{
  width: 100%;
  color: #ADAEB3;
  display: block;


}
#menu1 .contmenu1 a, .titmenu1, #menu2 .menu2selector a, .titmenu2, #menu3 .contmenu3 a{
    color: #CCC; /* Color de las canciones */
    padding: 7px 5px;
    display: block;
    padding-left: 10px;
    text-decoration: none;
}

#menu1 ul li .contmenu1:hover, #menu2 .menu2selector:hover, #menu3 .contmenu3:hover{
  background-color: #2E2F33;
}
.titmenu1 , .titmenu2, .contmenu3{
  cursor: default;
}
#menu2 .divider, #menu1 .divider {  
  height: 1px;
  margin: 2px 0;
  overflow: hidden;
  background-color: #8A8A8A;
}

.modal_red {
  color: red;
}

/*------------------------ Aca comienza el ex archivo audio.css -------------------*/

#player1{
  float: right; 
}
#playlist, #player, #album {
width: 100%; /* Ancho de todo el contenedor */
padding: 0px;
margin: 0 auto;
display: block;
text-align: left;

}

audio {
width:100%; /* Ancho del reproductor */
margin:0 auto;

display: inline-block;
}
  #playlist, #album, #playerul, #playlist_usr {
  display: block;
  width: 100%;
  background: #222; /* Fondo del segundo contenedor */
  border-top: 5px solid #6D1F6F;
  text-align: left;
  font-size: 12px; /* Estilos de fuente */
  font-family: 'Trebuchet MS', Trebuchet, Verdana, sans-serif;
  font-weight: normal;

  }
    #playlist li, #playlist ul li {
    background-image: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;

    }

    #playlist .cancion li a {
    color: #CCC; /* Color de las canciones */
    padding: 7px 5px;
    display: inline-block;
    padding-left: 10px;
    text-decoration: none;
    cursor: context-menu;
    }

    #playlist .cancion.active a {
    color: #6D1F6F; /* Color de la canción activa */
    font-style: italic;
    text-decoration: none;

    }
    #playlist .cancion.active a:before {
    content: "\25B6";
    color: #CCC;
    font-style: normal;
    padding-right: 8px;
    }

    #playlist .cancion.active:hover a {
    color: #222; /* Color de la canción activa al pasar el cursor */
    }
    .addplaylist {
    color: #CCC; /* Color de las canciones */
    padding: 7px 5px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

    }www

    #album li, #album ul li, #playlist_usr ul li{
    background-image: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
    #album> li{
      border-bottom-style: solid;
      border-bottom: 1px solid #6D1F6F;
    }
    #album li a, #playlist_usr li {
    color: #CCC; /* Color de las canciones */
    background: #222; /* Fondo de las canciones */
    display: block;
    padding: 7px 5px;
    text-decoration: none;
    }
    #playlist_usr li a {
      text-decoration: none;
      color: #CCC;
      padding: 7px 5px;
      cursor: pointer;

    }
    #album li a:hover {
    background: #6D1F6F; /* Color de fondo al pasar el cursor */
    text-decoration: none;
    }
    #album .active a {
    color: #6D1F6F; /* Color de la canción activa */
    font-style: italic;
    text-decoration: none;
    }
    #album .active a:before {
    color: #CCC;
    font-style: normal;
    }

    #album .active a:hover {
    color: #222; /* Color de la canción activa al pasar el cursor */
    }

  .btn-cancion, .btn-cancioncola{
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 7px 5px;
    color: #CCC;
  } 

  #playlist_usr li:hover{
  background: #6D1F6F; /* Color de fondo al pasar el cursor */
  text-decoration: none;
  }
  .cancion:hover {
  background: #6D1F6F; /* Color de fondo al pasar el cursor */
  text-decoration: none;
  }

  #playerul li, #playerul ul li {
    background-image: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    }


    #playerul li a {
    color: #CCC; /* Color de las canciones */
    padding: 7px 5px;
    display: inline-block;
    padding-left: 10px;
    text-decoration: none;
    }


    #playerul .cancionnow:hover {
    background: #6D1F6F;
    /* Color de las canciones */
    display: block;
    }

    #playerul .active a {
    color: #6D1F6F; /* Color de la canción activa */
    font-style: italic;
    text-decoration: none;
    }
    #playerul .active a:before {
    content: "\25B6";
    color: #CCC;
    font-style: normal;
    padding-right: 8px;
    }

    #playerul .active:hover a {
    color: #222; /* Color de la canción activa al pasar el cursor */
    }
    
    .lupa {
      color: #6D1F6F;
      width: 7%;
      height: 25px;
      padding: 7px 5px;
      display: inline-block;
      font-size: 18px;

    }
    #s_album, #s_playlist{
      padding-left: 7px;
      width: 90%;
      display: inline-block;
      float: right;
    }

    .btns {
      color: #CCC;
      font-size: 20px;
      display: none;
    }

    .btns > .glyphicon-play-circle{
       padding: 0px 10px;
         cursor: pointer;
    }
    .btns > .glyphicon-minus{
       padding: 0px 10px;
         cursor: pointer;
    }
    .btns > .glyphicon-play-circle:hover{
       padding: 0px 10px;
       color: #222;
    }

    .btns > .glyphicon-minus:hover{
       padding: 0px 10px;
       color: #9C3334;
    }
    #playlist_usr > .tit_playlist, .tit_album {
      color: #6D1F6F;
      font-size: 18px;
      padding-left: 6px;
      border-bottom: 1px solid #6D1F6F;
      padding-bottom:3px;
      padding-top: 5px;
    }
    .botonespl{
      align-items:  left; 
      text-align: left;
    }
    .filtro{
      padding: 7px 7px;
    }



