<style type="text/css" class="cp-pen-styles">/* make sidebar nav vertical */
.navbar-nav li {width:100%}
.nav a {color:white}
.nav a:hover {color:black}
.heading-menu{background:black;color:black}

@media (min-width: 768px){
  .affix-content .container {
    width: 700px;
  }   

  html,body{
    background-color: #424242;
    height: 100%;
    font-size:17px;
    overflow: hidden;
  }
    .affix-content .container .page-header{
    margin-top: 0;
    background-color: #424242;

  }
  .sidebar-nav{
        position:fixed; 
        width:25%;
  }
  .affix-sidebar{
    padding-right:0; 
    font-size:small;
    padding-left: 0;
  }  
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;    
  } 

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    border-radius:0; 
    margin-bottom:0; 
    border:0;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }  
}

  .affix-row{
    overflow: hidden;
  }

  .affix-content{
    overflow: auto;
  }

  .affix-content .container {
    width: 100%;
    background-color: #424242;
  }
.container {
  background-color: #424242;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0px; 
}
  .affix-content .container .page-header{
    margin-top: 0;
  }
  .affix-content{
    padding-right: 30px;
    padding-left: 30px;
  }  
  .affix-title{
    border-bottom: 1px solid #ecf0f1; 
    padding-bottom:10px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-collapse{
    padding: 0;
  }
  .sidebar-nav .navbar li a:hover {
    background-color: #428bca;
    color: white;
  }
  .sidebar-nav .navbar li a > .caret {
    margin-top: 8px;
  }  
}
.affix-content {
    padding: 0px;
}
.heading-menu > li a {background:black;color:black}

/*menu1*/
#menu1, #menu2{
  background-color: #3E3E40;
  min-width: 300px;
  position: fixed;
  top: 0;
  z-index: 8000;
  display: none;
  text-decoration: none;
  border-radius: 2px 2px 2px 2px;
}
#menu1 ul, #menu2 ul{
  list-style: none;
}
#menu1 ul li, #menu2 ul li{
  width: 100%;
  text-decoration: none;
  color: #ADAEB3;

}
#menu1 ul li a, #menu2 ul li a{
  text-decoration: none;
  display: block;
  padding: 8px 16px;
  width: 100%;
  color: #ADAEB3;

}
#menu1 ul li a:hover, #menu2 ul li a:hover{
  background-color: #2E2F33;
}



